{
    "mounts": {
        "rw": [
            "~/.emacs.d",
            "."
        ],
        "ro": [
            "~/.bashrc",
            "~/.profile",
            "~/.config/fish",
            "~/.config/xonsh",
            "~/.xonshrc",
            "~/.gitconfig"
        ],
        "tmpfs": [
            "~"
        ]
    },
    "environment": {
        "TERM": "screen-256color"
    }
}
